/* SASS variables. These have to be defined globally and are imperative. 
Invoke using $variable-name. */
/* Below 480px: margin-left = 0px
480px to 960px: margin-left = 20% - 96px
Above 960px: margin-left = 10% */
/* $phone-screen: 480px;
$tablet-screen: 768px;
$laptop-sm: 1024px;
$laptop-md: 1440px;
$laptop-lg: 1920px; */
/* CSS variables. These were added pretty recently, and are defined in :root (i.e. html).
These variables are declarative. Invoke using var(--variable-name). */
:root {
  --purple: #2c0048;
  --dark-blue: #0c125b;
  --cyan: #028f94;
  --yellow: #6b7203;
  --font-family: "Verdana", sans-serif;
  font-size: 24px;
  --font-size__title: 1.25rem;
  margin: 0px;
  --picture-width: min(100%, 900px);
}
@media only screen and (max-width: 768px) {
  :root {
    font-size: 20px;
  }
}
@media only screen and (max-width: 432px) {
  :root {
    font-size: 16px;
  }
}

body {
  display: block;
  margin: 0px;
  font-family: var(--font-family);
}

.anim-fadeout {
  animation: fadeout 1s ease;
}

@keyframes fadeout {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
button, .button {
  text-align: center;
  padding: 10px clamp(12px, 2vw, 24px);
}
button__text, .button__text {
  font-family: "Impact", sans-serif;
  color: white;
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  button, .button {
    padding: 8px clamp(9px, 2vw, 18px);
  }
}
@media only screen and (max-width: 432px) {
  button, .button {
    padding: 6px;
  }
}

/* HEADER AND MOBILE/TABLET HEADER STYLES */
.header {
  position: sticky;
  top: 0;
  background-color: var(--purple);
  height: 70px;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  z-index: 10;
  transition: all 1s ease-in-out;
  display: flex;
  align-items: center;
  /* &__title {
      text-align: center;
      font-size: clamp(15px, 4vw, 30px);
      font-weight: 700;
      color: white;
      padding: 22px clamp(15px, 4vw, 30px);;
      display: block;
      float: left;
      transition: all 1s ease-in-out;

      &--tiny {
          font-size: clamp(7.5px, 2vw, 15px);
          padding: 14px clamp(7.5px, 2vw, 15px);
      }
  } */
}
.header--tiny {
  height: 50px;
}
@media only screen and (max-width: 1024px) {
  .header {
    height: 50px;
    align-items: flex-start;
  }
}
.header__icon {
  object-fit: cover;
  height: 50px;
  /* border-radius: 10%; */
  padding: 5px;
  margin: 5px;
  margin-left: calc(clamp(50px, 16vw, 100px) - 30px);
  display: inline;
  position: absolute;
  top: 0px;
  transition: width, height 1s ease-in-out;
}
.header__icon--tiny {
  height: 30px;
}
@media only screen and (max-width: 1024px) {
  .header__icon {
    height: 30px;
  }
}
.header__navbar {
  list-style: none;
  display: flex;
  margin: 13px 0px;
  padding: 0;
  flex-wrap: wrap;
  margin-left: auto;
  background-color: var(--purple);
}
@media only screen and (max-width: 1024px) {
  .header__navbar {
    flex-direction: column;
    margin: 0px;
    margin-left: auto;
  }
}
.header__navbar-tablet {
  margin: 0px 10px;
  flex: 1;
  display: none;
  color: white;
  font-size: 30px;
  margin-right: 10px;
  cursor: pointer;
  text-align: right;
  transition: width, height, font-size 1s ease-in-out;
}
@media only screen and (max-width: 1024px) {
  .header__navbar-tablet {
    display: block;
  }
  .header__navbar-tablet:hover {
    background-color: var(--yellow);
  }
  .header__navbar-tablet:focus {
    background-color: var(--yellow);
  }
}
.header__navbar a {
  font-weight: 500;
  color: white;
  transition: width, height, font-size 1s ease-in-out;
}
.header__button {
  font-size: 1rem;
  display: inline;
  cursor: pointer;
}
.header__button--active {
  background-color: var(--cyan);
}
.header__button:hover {
  background-color: var(--yellow);
  box-shadow: 0px 4px 2px -2px gray;
}
.header__button--tiny {
  font-size: 0.75rem;
  padding: 6px clamp(12px, 2vw, 24px);
}
@media only screen and (max-width: 1024px) {
  .header__button {
    display: none;
    padding: 10px 60px 10px 60px;
    margin-right: 10px;
  }
  .header__button-tablet--visible {
    display: block;
  }
}
.header__padding {
  display: inline;
  margin: 1px 50px;
}
@media only screen and (max-width: 1024px) {
  .header__padding {
    display: none;
  }
}

/* PAGE CONTENT GENERIC STYLES */
.h1 {
  font-size: 3rem;
  margin: 0px;
}
@media only screen and (max-width: 768px) {
  .h1 {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 432px) {
  .h1 {
    font-size: 2rem;
  }
}

.h2 {
  font-size: 2rem;
  margin: 0px;
}
@media only screen and (max-width: 768px) {
  .h2 {
    font-size: 1.7rem;
  }
}
@media only screen and (max-width: 432px) {
  .h2 {
    font-size: 1.4rem;
  }
}

.h3, .survey-section__title {
  font-size: 1.5rem;
}
@media only screen and (max-width: 768px) {
  .h3, .survey-section__title {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 432px) {
  .h3, .survey-section__title {
    font-size: 1.1rem;
  }
}

.sm1, .card__desc, .dropdown__button, .dropdown, input[type=text], textarea {
  font-size: 0.8rem;
}
@media only screen and (max-width: 768px) {
  .sm1, .card__desc, .dropdown__button, .dropdown, input[type=text], textarea {
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 432px) {
  .sm1, .card__desc, .dropdown__button, .dropdown, input[type=text], textarea {
    font-size: 0.6rem;
  }
}

.sm2 {
  font-size: 0.7rem;
}
@media only screen and (max-width: 768px) {
  .sm2 {
    font-size: 0.6rem;
  }
}
@media only screen and (max-width: 432px) {
  .sm2 {
    font-size: 0.5rem;
  }
}

.centered {
  display: block;
  margin: auto;
  width: fit-content;
}

.spaced, .dropdown-search, .input__bottom-msg {
  margin-top: 7px;
  margin-bottom: 7px;
}

.page-content {
  display: flex;
  flex-wrap: wrap;
}

.section {
  position: relative;
  display: block;
  align-self: flex-start;
  margin-left: min(max(96px, 20%) - 76px, 10%);
  margin-right: max(20px, 20% - 96px);
  width: 100%;
  transition: width 1s ease-in-out;
}
.section-container {
  flex: 100%;
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  align-content: flex-start;
  min-height: 100%;
}

.bgimg {
  background-size: cover;
}
.bgimg--overlay-se {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(150deg, rgb(255, 255, 255) 30%, rgba(255, 255, 255, 0.7) 100%);
}

.input--short {
  width: max(200px, 30%);
  height: 1.2rem;
  font-size: 1rem;
}
.input--textarea {
  width: calc(100% - 8px);
  height: 3rem;
}
.input--correct {
  background-color: rgb(152, 201, 172) !important;
}
.input--wrong {
  background-color: #FFD0D0 !important;
}
input[type=text], textarea {
  border: 0.5px solid #888888;
  background-color: #FFFFFF;
  padding: 3px;
  border-radius: 3px;
  transition: background-color 0.3s ease-in-out;
}
input[type=text]:hover, textarea:hover {
  border: 0.5px solid #555555;
  background-color: #F2F2F2;
}
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 1px 6px rgb(243, 49, 0);
}

.radio-button {
  background-color: grey;
  position: absolute;
  top: calc(50% - 10px);
  left: 15px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.radio-button::after {
  position: absolute;
  content: "";
  display: none;
}
.radio--correct {
  background-color: rgb(152, 201, 172) !important;
}
.radio--wrong {
  background-color: #FFD0D0 !important;
}
.radio-option {
  display: block;
  position: relative;
  cursor: pointer;
  margin: 7px 3px;
  padding: 8px 3px 8px 35px;
}
.radio-option > input[type=radio] {
  opacity: 0;
}
.radio-option:hover > input ~ .radio-button {
  background-color: var(--dark-blue);
}
.radio-option > input:checked ~ .radio-button {
  background-color: rgb(3, 116, 50);
}
.radio-option > input:checked ~ .radio-button::after {
  display: block;
  background-color: white;
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

/* DROPDOWN STYLES */
.dropdown {
  position: relative;
  display: block;
  width: clamp(200px, 35%, 300px);
}
.dropdown__content {
  position: absolute;
  display: none;
  z-index: 1;
  margin: 0px;
  padding: 0px;
  list-style: none;
  width: 100%;
}
.dropdown__button {
  position: relative;
  background-color: rgb(240, 231, 186);
  display: none;
}
.dropdown__button:hover {
  background-color: var(--yellow);
  color: white;
  cursor: pointer;
}
.dropdown-search {
  position: relative;
  width: calc(100% - 8px);
}
.dropdown--visible {
  display: block;
}
.dropdown-search:focus ~ .dropdown__content, .dropdown .dropdown__content:hover {
  display: block;
}

/* INDEX PAGE STYLES */
.colourful-title {
  /* https://blog.logrocket.com/five-cool-css-header-styles-with-cross-browser-compatibility/ */
  background-image: conic-gradient(#553c9a, #ee4b2b, #00c2cb, #553c9a);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding: 1.5rem;
}
.colourful-title__container {
  display: inline-block;
  position: relative;
  word-wrap: break-word;
}

.flashy-content {
  display: block;
  margin: 40px 0px;
  width: 40%;
  margin-left: auto;
  font-weight: 500;
  font-family: "Open Sans", "Montserrat", "Times New Roman";
}
@media only screen and (max-width: 1024px) {
  .flashy-content {
    width: 70%;
    float: right;
  }
}
@media only screen and (max-width: 768px) {
  .flashy-content {
    width: 80%;
  }
}

.flashy-button {
  display: inline-block;
  position: relative;
  width: min(400px, 35vw);
  margin: 0px 75px 0px auto;
  padding: 20px;
  text-align: center;
  background-color: rgb(3, 116, 50);
  border-radius: 20px;
}
@media only screen and (max-width: 1024px) {
  .flashy-button {
    padding: 15px;
    margin-left: 0px;
    width: min(400px, 40vw);
  }
}
@media only screen and (max-width: 768px) {
  .flashy-button {
    margin-left: 0px;
    padding: 10px;
    width: min(250px, 60vw);
  }
}

.card {
  position: relative;
  width: 100%;
  display: none;
  flex-direction: column;
  background-color: #dddddd;
  transition: display 1s ease-in-out;
}
@media only screen and (max-width: 768px) {
  .card {
    width: 80%;
  }
}
.card__img {
  width: 100%;
  flex: 1 1 50%;
}
.card__desc {
  padding: 5px;
  width: auto;
  text-decoration: none;
  flex: 1 1 50%;
}
.card--middle {
  display: flex;
  grid-row: 1/1;
  grid-column: 2/2;
}
@media only screen and (max-width: 1024px) {
  .card--middle {
    grid-column: 1/1;
  }
}
.card--left {
  display: flex;
  grid-row: 1/1;
  grid-column: 1/1;
}
@media only screen and (max-width: 1024px) {
  .card--left {
    display: none;
  }
}
.card--right {
  display: flex;
  grid-row: 1/1;
  grid-column: 3/3;
}
@media only screen and (max-width: 1024px) {
  .card--right {
    grid-column: 2/2;
  }
}
@media only screen and (max-width: 768px) {
  .card--right {
    display: none;
  }
}
.card__prev, .card__next {
  position: absolute;
  cursor: pointer;
  bottom: 50%;
  color: black;
  font-size: 48px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0);
  transition: 0.6s ease;
  z-index: 3;
  border: 0px;
}
.card__prev {
  left: 0px;
}
.card__next {
  right: 0px;
}
.card__link-title {
  color: #222222;
  font-size: 1.25rem;
}
.card__link-description {
  color: black;
  font-size: 1rem;
}
.card__container--grid-3 {
  width: 100%;
  position: relative;
  display: inline-grid;
  grid-template-columns: calc((100% - 100px) / 3) calc((100% - 100px) / 3) calc((100% - 100px) / 3);
  grid-auto-rows: min-content;
  grid-column-gap: 50px;
  justify-items: center;
}
@media only screen and (max-width: 1024px) {
  .card__container--grid-3 {
    grid-template-columns: calc((100% - 50px) / 2) calc((100% - 50px) / 2);
  }
}
@media only screen and (max-width: 768px) {
  .card__container--grid-3 {
    grid-template-columns: 100%;
  }
}

.slide {
  position: relative;
  width: 100%;
  font-family: var(--font-family);
}
.slide__container {
  position: relative;
  width: var(--picture-width);
  margin: auto;
}
.slide__img {
  position: relative;
  object-fit: cover;
  width: var(--picture-width);
}
.slide__img--overlay {
  position: absolute;
  height: 100%;
  width: var(--picture-width);
  z-index: 1;
  background-image: linear-gradient(to bottom, rgb(243, 236, 199), rgba(243, 236, 199, 0) 25%, rgba(243, 236, 199, 0) 75%, rgb(243, 236, 199) 100%);
}
.slide__number {
  position: absolute;
  padding: 2rem;
  z-index: 2;
}
.slide__desc {
  width: var(--picture-width);
  position: absolute;
  bottom: 16px;
  text-align: center;
  max-width: 900px;
  z-index: 2;
}
.slide__prev, .slide__next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  color: black;
  font-weight: bold;
  font-size: 0.8rem;
  transition: 0.6s ease;
  z-index: 3;
  border: 0px;
}
.slide__prev:hover, .slide__next:hover {
  background-color: rgba(60, 60, 60, 0.8);
  color: white;
}
.slide__next {
  left: calc(var(--picture-width) - 24px);
}

.survey-section {
  display: block;
  margin: 2.5rem 0px;
}
.survey-section__title {
  display: block;
  font-family: var(--font-family);
  margin-bottom: 1.6rem;
}
.survey-section__desc {
  display: block;
  margin-bottom: 1.6rem;
}
.survey-section__questions {
  display: grid;
  grid-auto-rows: min-content;
  grid-row-gap: 20px;
  grid-template-columns: 3.5rem calc(100% - 4rem);
  grid-column-gap: 0.5rem;
}

.survey-question {
  grid-column: 2/2;
}
.survey-question-no {
  grid-column: 1/1;
  justify-self: center;
  font-weight: 600;
}
.survey-question__text {
  display: block;
  margin-bottom: 14px;
}
.survey-question__answer {
  display: block;
  width: 100%;
}

.survey-submit {
  display: block;
}
.survey-submit-button {
  display: block;
  background-color: #4c005c;
  border: 0px;
  padding: 10px;
  font-size: 1rem;
  color: #FFFFFF;
  margin: auto;
}

.results-table {
  border-collapse: collapse;
  font-family: "Georgia", sans-serif;
  overflow: auto;
  display: block;
}

.results-table-headerrow {
  border: 3px solid black;
  font-size: 1.2rem;
  font-weight: 600;
}

.results-table-id {
  width: 50px;
}

.results-table-name {
  min-width: 150px;
  width: 20%;
}

.results-table-header {
  padding: 10px;
  border: 3px solid black;
}

.results-table-question-short {
  min-width: 100px;
  width: 10%;
  padding: 10px;
  border: 3px solid black;
}

.results-table-question-long {
  min-width: 200px;
  width: 30%;
  padding: 10px;
  border: 3px solid black;
}

.results-table-datarow {
  border: 2px solid black;
}

.results-table-data {
  font-size: 1rem;
  font-weight: 400;
  padding: 10px;
  border: 2px solid black;
}

tr.results-table-datarow:hover {
  background-color: #DDDDDD;
}

/*# sourceMappingURL=styles.css.map */
