/* SASS variables. These have to be defined globally and are imperative. 
Invoke using $variable-name. */
/* $phone-screen: 480px;
$tablet-screen: 768px;
$laptop-sm: 1024px;
$laptop-md: 1440px;
$laptop-lg: 1920px; */
/* CSS variables. These were added pretty recently, and are defined in :root (i.e. html).
These variables are declarative. Invoke using var(--variable-name). */
:root {
  --purple: #2c0048;
  --dark-blue: #0c125b;
  --cyan: #028f94;
  --yellow: #6b7203;
  --font-family: "Georgia", sans-serif;
  font-size: 16px;
  --font-size__title: 1.25rem;
  margin: 0px;
}

body {
  display: block;
  margin: 0px;
}

.anim-fadeout {
  animation: fadeout 1s ease;
}

@keyframes fadeout {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
button, .button {
  text-align: center;
  padding: 5px;
}

/* HEADER AND MOBILE/TABLET HEADER STYLES */
.header {
  display: flex;
  position: sticky;
  top: 0;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--purple);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  z-index: 10;
  transition: all 1s ease-in-out;
  /* &__title {
      text-align: center;
      font-size: clamp(15px, 4vw, 30px);
      font-weight: 700;
      color: white;
      padding: 22px clamp(15px, 4vw, 30px);;
      display: block;
      float: left;
      transition: all 1s ease-in-out;

      &--tiny {
          font-size: clamp(7.5px, 2vw, 15px);
          padding: 14px clamp(7.5px, 2vw, 15px);
      }
  } */
}
@media only screen and (max-width: 1024px) {
  .header {
    align-items: flex-start;
  }
}
.header__icon {
  object-fit: cover;
  height: 50px;
  /* border-radius: 10%; */
  padding: 5px;
  margin: 5px;
  margin-left: calc(clamp(50px, 16vw, 100px) - 30px);
  display: block;
  float: left;
  transition: width, height 1s ease-in-out;
}
.header__icon--tiny {
  height: 30px;
  border: 1px solid var(--purple);
}
.header__navbar {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
  flex-wrap: wrap;
}
@media only screen and (max-width: 1024px) {
  .header__navbar {
    display: flex;
    flex-direction: column;
  }
}
.header__navbar-tablet {
  margin: 0px 10px;
  flex: 1;
  display: none;
  color: white;
  font-size: 50px;
  margin-right: 10px;
  cursor: pointer;
  transition: width, height, font-size 1s ease-in-out;
}
@media only screen and (max-width: 1024px) {
  .header__navbar-tablet {
    display: block;
  }
  .header__navbar-tablet:hover {
    background-color: var(--yellow);
  }
  .header__navbar-tablet:focus {
    background-color: var(--yellow);
  }
  .header__navbar-tablet--tiny {
    font-size: 30px;
  }
}
.header__navbar a {
  font-weight: 500;
  color: white;
  text-decoration: none;
  transition: width, height, font-size 1s ease-in-out;
}
.header__button {
  padding: 10px clamp(12px, 2vw, 24px);
  font-size: 1.25rem;
  display: inline;
  cursor: pointer;
}
.header__button--active {
  background-color: var(--cyan);
}
.header__button:hover {
  background-color: var(--yellow);
}
.header__button--tiny {
  font-size: 1rem;
  padding: 6px clamp(12px, 2vw, 24px);
}
@media only screen and (max-width: 1024px) {
  .header__button {
    display: none;
    padding: 10px 60px 10px 60px;
    margin-right: 10px;
  }
  .header__button-tablet--visible {
    display: block;
  }
}
.header__padding {
  display: inline;
  margin: 1px 50px;
}
@media only screen and (max-width: 1024px) {
  .header__padding {
    display: none;
  }
}

/* PAGE CONTENT GENERIC STYLES */
h1 {
  font-size: max(3rem, 5vw);
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
}
.page-content {
  display: flex;
  flex-wrap: wrap;
}

.section-container {
  flex: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.section {
  flex: 100%;
  position: relative;
  display: block;
  margin-left: min(max(96px, 20%) - 96px, 10%);
  /* Below 480px: margin-left = 0px
  480px to 960px: margin-left = 20% - 96px
  Above 960px: margin-left = 10% */
  margin-right: max(0px, 20% - 96px);
}

.bgimg {
  background-size: cover;
}
.bgimg--overlay-se {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(150deg, rgb(255, 255, 255) 30%, rgba(255, 255, 255, 0.7) 100%);
}

/* INDEX PAGE STYLES */
.colourful-title {
  /* https://blog.logrocket.com/five-cool-css-header-styles-with-cross-browser-compatibility/ */
  position: relative;
  padding: 10px 0px;
  width: max-content;
  background-image: conic-gradient(#553c9a, #ee4b2b, #00c2cb, #553c9a);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.slide {
  position: relative;
  width: 100%;
  font-family: "Verdana", sans-serif;
  --picture-width: min(100%, 900px);
}
.slide__container {
  position: relative;
  width: var(--picture-width);
  margin: auto;
}
.slide__img {
  position: relative;
  object-fit: cover;
  width: var(--picture-width);
}
.slide__img--overlay {
  position: absolute;
  height: 100%;
  width: var(--picture-width);
  z-index: 1;
  background-image: linear-gradient(to bottom, rgb(243, 236, 199), rgba(243, 236, 199, 0) 25%, rgba(243, 236, 199, 0) 75%, rgb(243, 236, 199) 100%);
}
.slide__number {
  position: absolute;
  padding: 2rem;
  z-index: 2;
}
.slide__desc {
  width: var(--picture-width);
  position: absolute;
  bottom: 16px;
  text-align: center;
  max-width: 900px;
  z-index: 2;
}
.slide__prev, .slide__next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  color: black;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  z-index: 3;
  border: 0px;
}
.slide__prev:hover, .slide__next:hover {
  background-color: rgba(60, 60, 60, 0.8);
  color: white;
}
.slide__next {
  right: 0;
}

.survey-container {
  max-width: 900px;
  margin: auto;
  border: 2px solid white;
  padding: 1rem;
}

.survey-main {
  color: #000000;
  background-color: #ffffff;
}

.survey-section {
  border: 2px solid white;
  display: inline;
  flex-wrap: wrap;
}

.survey-section-title {
  margin: 0.5rem;
  padding: 0.5rem;
  border: 2px solid white;
  font-size: 36px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.survey-question {
  width: 100%;
  margin: 0.5rem;
  padding: 0.3rem;
  border: 1px solid white;
  display: flex;
  flex-wrap: wrap;
}

.survey-question-no {
  width: 7%;
  border: 1px solid white;
  margin: 6pt 0pt 6pt 0pt;
}

.survey-question-text {
  width: auto;
  max-width: 92%;
  border: 1px solid white;
  margin: 6pt 0pt 6pt 0pt;
}

.survey-question-answer {
  margin: 6pt 0pt 6pt 0pt;
  padding-left: 3pt;
  width: 100%;
  border: 1px solid white;
}

.survey-question-response {
  padding-left: 3pt;
  width: 100%;
  border: 1px solid white;
}

.survey-input-short {
  width: 25%;
  min-width: 100px;
}

.survey-input-textArea {
  width: 100%;
  height: 3rem;
}

.survey-submit-button {
  background-color: #D9EDFF;
  font-weight: 600;
  font-size: 1.25rem;
  color: #000000;
}

.results-table {
  border-collapse: collapse;
  font-family: "Georgia", sans-serif;
  overflow: auto;
  display: block;
}

.results-table-headerrow {
  border: 3px solid black;
  font-size: 1.2rem;
  font-weight: 600;
}

.results-table-id {
  width: 50px;
}

.results-table-name {
  min-width: 150px;
  width: 20%;
}

.results-table-header {
  padding: 10px;
  border: 3px solid black;
}

.results-table-question-short {
  min-width: 100px;
  width: 10%;
  padding: 10px;
  border: 3px solid black;
}

.results-table-question-long {
  min-width: 200px;
  width: 30%;
  padding: 10px;
  border: 3px solid black;
}

.results-table-datarow {
  border: 2px solid black;
}

.results-table-data {
  font-size: 1rem;
  font-weight: 400;
  padding: 10px;
  border: 2px solid black;
}

tr.results-table-datarow:hover {
  background-color: #DDDDDD;
}

/*# sourceMappingURL=styles.css.map */
