
/* SASS variables. These have to be defined globally and are imperative. 
Invoke using $variable-name. */
$beige: rgb(243, 236, 199);
$beige-transparent: rgba($beige, 0);

$section-margin-left: min(calc(max(96px, 20%) - 76px), 10%);
/* Below 480px: margin-left = 0px
480px to 960px: margin-left = 20% - 96px
Above 960px: margin-left = 10% */
$section-margin-right: max(20px, calc(20% - 96px));

@mixin devices ($breakpoint) {

    @if $breakpoint == phone_sm {
        @media only screen and (max-width: 432px) {
            @content;
        }
    }

    @if $breakpoint == phone {
        @media only screen and (max-width: 768px) {
            @content;
        }
    }

    @if $breakpoint == tablet {
        @media only screen and (max-width: 1024px) {
            @content;
        }
    }
}

/* $phone-screen: 480px;
$tablet-screen: 768px;
$laptop-sm: 1024px;
$laptop-md: 1440px;
$laptop-lg: 1920px; */

/* CSS variables. These were added pretty recently, and are defined in :root (i.e. html).
These variables are declarative. Invoke using var(--variable-name). */
:root {
    --purple: #2c0048;
    --dark-blue: #0c125b;
    --cyan: #028f94;
    --yellow: #6b7203;
    --font-family: 'Verdana', sans-serif;

    font-size: 24px;
    @include devices(phone) {
        font-size: 20px;
    }
    @include devices(phone_sm) {
        font-size: 16px;
    }

    --font-size__title: 1.25rem;
    margin: 0px;

    
    --picture-width: min(100%, 900px);
}

body {
    display: block;
    margin: 0px;
    font-family: var(--font-family);
}

.anim-fadeout {
    animation: fadeout 1s ease;
}

@keyframes fadeout {
    from {opacity: 0} to {opacity: 1}
}

button, .button {
    text-align: center;

    &__text {
        font-family: 'Impact', sans-serif;
        color: white;
        text-decoration: none;
    }

    padding: 10px clamp(12px, 2vw, 24px);

    @include devices(phone) {
        padding: 8px clamp(9px, 2vw, 18px);
    }

    @include devices(phone_sm) {
        padding: 6px;
    }
}

                /* HEADER AND MOBILE/TABLET HEADER STYLES */

.header {
    position: sticky;
    top: 0;
    background-color: var(--purple);
    height: 70px;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    z-index: 10;
    transition: all 1s ease-in-out;

    display: flex;
    align-items: center;

    &--tiny {
        height: 50px;
    }

    @include devices(tablet) {
        height: 50px;
        align-items: flex-start;
    }

    &__icon {
        object-fit: cover;
        height: 50px;
        /* border-radius: 10%; */
        padding: 5px;
        margin: 5px;
        margin-left: calc(clamp(50px, 16vw, 100px) - 30px);
        display: inline;
        position: absolute;
        top: 0px;
        transition: width, height 1s ease-in-out;

        &--tiny {
            height: 30px;
        }

        @include devices(tablet) {
            height: 30px;
        }
    }

    /* &__title {
        text-align: center;
        font-size: clamp(15px, 4vw, 30px);
        font-weight: 700;
        color: white;
        padding: 22px clamp(15px, 4vw, 30px);;
        display: block;
        float: left;
        transition: all 1s ease-in-out;

        &--tiny {
            font-size: clamp(7.5px, 2vw, 15px);
            padding: 14px clamp(7.5px, 2vw, 15px);
        }
    } */

    &__navbar {
        list-style: none;
        display: flex;
        margin: 13px 0px;
        padding: 0;
        flex-wrap: wrap;
        margin-left: auto;
        background-color: var(--purple);

        @include devices(tablet) {
            flex-direction: column;
            margin: 0px;
            margin-left: auto;
        }
    }

    &__navbar-tablet {
        margin: 0px 10px;
        flex: 1;
        display: none;
        color: white;
        font-size: 30px;
        margin-right: 10px;
        cursor: pointer;
        text-align: right;
        transition: width, height, font-size 1s ease-in-out;

        @include devices(tablet) {
            display: block;

            &:hover {
                background-color: var(--yellow);
            }

            &:focus {
                background-color: var(--yellow);
            }
        }
    }

    &__navbar a {
        font-weight: 500;
        color: white;
        transition: width, height, font-size 1s ease-in-out;
    }

    &__button {
        font-size: 1rem;
        display: inline;
        cursor: pointer;

        &--active {
            background-color: var(--cyan);
        }

        &:hover {
            background-color: var(--yellow);
            box-shadow: 0px 4px 2px -2px gray;
        }

        &--tiny {
            font-size: 0.75rem;
            padding: 6px clamp(12px, 2vw, 24px);
        }

        @include devices(tablet) {
            display: none;
            padding: 10px 60px 10px 60px;
            margin-right: 10px;

            &-tablet--visible {
                display: block;
            }
        }
    }

    &__padding {
        display: inline;
        margin: 1px 50px;
        @include devices(tablet) {
            display: none;
        }
    }
}

                    /* PAGE CONTENT GENERIC STYLES */

.h1, %h1 {
    font-size: 3rem;
    margin: 0px;
    @include devices(phone) {
        font-size: 2.5rem;
    }
    @include devices(phone_sm) {
        font-size: 2rem;
    }
}

.h2, %h2 {
    font-size: 2rem;
    margin: 0px;
    @include devices(phone) {
        font-size: 1.7rem;
    }
    @include devices(phone_sm) {
        font-size: 1.4rem
    }
}

.h3, %h3 {
    font-size: 1.5rem;
    @include devices(phone) {
        font-size: 1.3rem;
    }
    @include devices(phone_sm) {
        font-size: 1.1rem;
    }
}
        // Use using @extend %sm1;
.sm1, %sm1 {
    font-size: 0.8rem;
    @include devices(phone) {
        font-size: 0.7rem;
    }
    @include devices(phone_sm) {
        font-size: 0.6rem;
    }
}

.sm2, %sm2 {
    font-size: 0.7rem;
    @include devices(phone) {
        font-size: 0.6rem;
    }
    @include devices(phone_sm) {
        font-size: 0.5rem;
    }
}

.centered {
    display: block;
    margin: auto;
    width: fit-content;
}

.spaced, %spaced {
    margin-top: 7px;
    margin-bottom: 7px;
}

.page-content {
    display: flex;
    flex-wrap: wrap;
}

.section {
    position: relative;
    display: block;
    align-self: flex-start;
    margin-left: $section-margin-left;
    margin-right: $section-margin-right;
    width: 100%;
    transition: width 1s ease-in-out;

    &-container {
        flex: 100%;
        position: relative;
        display: inline-flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
        align-content: flex-start;
        min-height: 100%;
    }
}

.bgimg {
    background-size: cover;

    &--overlay-se {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(150deg, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0.7) 100%);
    }
}

.input {
    
    &--short {
        width: max(200px, 30%);
        height: 1.2rem;
        font-size: 1rem;
    }
    &--textarea {
        width: calc(100% - 8px);
        height: 3rem;
    }

    &--correct {
        background-color:rgb(152, 201, 172) !important;
    }

    &--wrong {
        background-color: #FFD0D0 !important;
    }

    &__bottom-msg {
        @extend %spaced;
    }
}

input[type="text"], textarea {

    @extend %sm1;
    border: 0.5px solid #888888;
    background-color: #FFFFFF;
    padding: 3px;
    border-radius: 3px;
    transition: background-color 0.3s ease-in-out;

    &:hover {
        border: 0.5px solid #555555;
        background-color: #F2F2F2;
    }

    &:focus {
        box-shadow: 0 0 1px 6px rgb(243, 49, 0);
    }
}

.radio {

    &-button {
        background-color: grey;
        position: absolute;
        top: calc(50% - 10px);
        left: 15px;
        width: 20px;
        height: 20px;
        border-radius: 50%;

        &::after {
            position: absolute;
            content: "";
            display: none;
        }
    }

    &--correct {
        background-color:rgb(152, 201, 172) !important;
    }

    &--wrong {
        background-color: #FFD0D0 !important;
    }

    &-option {
        display: block;
        position: relative;
        cursor: pointer;
        margin: 7px 3px;
        padding: 8px 3px 8px 35px;

        & > input[type="radio"] {
            opacity: 0;
        }

        &:hover > input ~ .radio-button {
            background-color: var(--dark-blue);
        }

        & > input:checked {

            & ~ .radio-button {
                background-color:rgb(3, 116, 50);

                &::after {
                    display: block;
                    background-color: white;
                    top: 6px;
                    left: 6px;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                }
            }
        }
    }
}

                    /* DROPDOWN STYLES */

.dropdown {

    $dropdown-width: clamp(200px, 35%, 300px);
    position: relative;
    display: block;
    width: $dropdown-width;
    @extend %sm1;

    &__content {
        position: absolute;
        display: none;
        z-index: 1;

        margin: 0px;
        padding: 0px;
        list-style: none;
        width: 100%;
    }

    &__button {
        position: relative;
        background-color: rgb(240, 231, 186);
        display: none;
        @extend %sm1;

        &:hover {
            background-color: var(--yellow);
            color: white;
            cursor: pointer;
        }
    }

    &-search {
        position: relative;
        width: calc(100% - 8px);
        @extend %spaced;
    }

    &--visible {
        display: block;
    }

    &-search:focus ~ .dropdown__content, .dropdown__content:hover {
        display: block;
    }
}

                    /* INDEX PAGE STYLES */

.colourful-title {
    /* https://blog.logrocket.com/five-cool-css-header-styles-with-cross-browser-compatibility/ */
    
    background-image: conic-gradient(#553c9a, #ee4b2b, #00c2cb, #553c9a);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    padding: 1.5rem;

    &__container {
        display: inline-block;
        position: relative;
        word-wrap: break-word; 
    }
}

.flashy-content {

    display: block; 
    margin: 40px 0px;
    width: 40%; 
    margin-left: auto;

    @include devices(tablet) {
        width: 70%;
        float: right;
    }
    @include devices(phone) {
        width: 80%;
    }
    font-weight: 500; 
    font-family: 'Open Sans', 'Montserrat', 'Times New Roman';
}

.flashy-button {

    display: inline-block;
    position: relative;
    width: min(400px, 35vw);
    margin: 0px 75px 0px auto;
    padding: 20px;
    text-align: center;
    background-color:rgb(3, 116, 50);
    border-radius: 20px;

    @include devices(tablet) {
        padding: 15px;
        margin-left: 0px;
        width: min(400px, 40vw);
    }
    @include devices(phone) {
        margin-left: 0px;
        padding: 10px;
        width: min(250px, 60vw);
    }
    
}

.card {                                     // CARDS

    position: relative;
    width: 100%;
    @include devices(phone) {
        width: 80%;
    }
    display: none;
    flex-direction: column;
    background-color: #dddddd;
    transition: display 1s ease-in-out;

    &__img {                    // CARD IMAGE
        width: 100%;
        flex: 1 1 50%;
    }

    &__desc {                   // CARD DESCRIPTION
        padding: 5px;
        width: auto;
        text-decoration: none;
        flex: 1 1 50%;
        @extend %sm1;
    }

    &--middle{                      // POSITIONED CARDS
        display: flex;
        grid-row: 1 / 1;
        grid-column: 2 / 2;
        @include devices(tablet) {
            grid-column: 1 / 1;
        }
    }

    &--left {
        display: flex;
        grid-row: 1 / 1;
        grid-column: 1 / 1;
        @include devices(tablet) {
            display: none;
        }
    }

    &--right {
        display: flex;
        grid-row: 1 / 1;
        grid-column: 3 / 3;
        @include devices(tablet) {
            grid-column: 2 / 2;
        }
        @include devices(phone) {
            display: none;
        }
    }

    &__prev, &__next {                          // CARD BUTTONS
        position: absolute;
        cursor: pointer;
        bottom: 50%;
        color: black;
        font-size: 48px;
        font-weight: 500;
        background-color: rgba(255, 255, 255, 0);
        transition: 0.6s ease;
        z-index: 3;
        border: 0px;
    }

    &__prev {
        left: 0px;
    }

    &__next {
        right: 0px;
    }

    &__link {                                   // LINKED CARDS
        &-title {
            color: #222222;
            font-size: 1.25rem;
        }

        &-description {
            color: black;
            font-size: 1rem;
        }
    }

    &__container--grid-3 {                             // CARD CONTAINER

        width: 100%;
        position: relative;
        display: inline-grid;

        $col-width : calc(calc(100% - 100px) / 3);
        grid-template-columns: $col-width $col-width $col-width;
        grid-auto-rows: min-content;
        grid-column-gap: 50px;
        justify-items: center;

        @include devices(tablet) {
            $col-width : calc(calc(100% - 50px) / 2);
            grid-template-columns: $col-width $col-width;
        }

        @include devices(phone) {
            grid-template-columns: 100%;
        }

    }

}

.slide {

    position: relative;
    width: 100%;
    font-family: var(--font-family);

    &__container {
        position: relative;
        width: var(--picture-width);
        margin: auto;
    }

    &__img {
        position: relative;
        object-fit: cover;
        width: var(--picture-width);

        &--overlay {
            position: absolute;
            height: 100%;
            width: var(--picture-width);
            z-index: 1;
            background-image: linear-gradient(to bottom, $beige, $beige-transparent 25%, $beige-transparent 75%, $beige 100%);
        }
    }

    &__number {
        position: absolute;
        padding: 2rem;
        z-index: 2;
    }

    &__desc {
        width: var(--picture-width);
        position: absolute;
        bottom: 16px;
        text-align: center;
        max-width: 900px;
        z-index: 2;
    }

    &__prev, &__next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        color: black;
        font-weight: bold;
        font-size: 0.8rem;
        transition: 0.6s ease;
        z-index: 3;
        border: 0px;

        &:hover {
            background-color: rgba(60, 60, 60, 0.8);
            color: white;
        }
    }

    &__next {
        left: calc(var(--picture-width) - 24px);
    }

}

.survey-section {
    display: block;

    margin: 2.5rem 0px;

    &__title {
        display: block;
        @extend %h3;
        font-family: var(--font-family);
        margin-bottom: 1.6rem;
    }

    &__desc {
        display: block;
        margin-bottom: 1.6rem;
    }

    &__questions {
        display: grid;
        grid-auto-rows: min-content;
        grid-row-gap: 20px;
        
        $survey-col-width: calc(100% - 4rem);
        grid-template-columns: 3.5rem $survey-col-width;
        grid-column-gap: 0.5rem;
    }
}

.survey-question {
    grid-column: 2 / 2;

    &-no {
        grid-column: 1 / 1;
        justify-self: center;
        font-weight: 600;
    }

    &__text {
        display: block;
        margin-bottom: 14px;
    }

    &__answer {
        display: block;
        width: 100%;
    }
}

// Survey inputs can be found under ".input" and ".radio" in the global classes.

.survey-submit {

    display: block;

    &-button {
        display: block;
        background-color: #4c005c;
        border: 0px;
        padding: 10px;
        font-size: 1rem;
        color: #FFFFFF;
        margin: auto;
    }
}


.results-table {
    border-collapse: collapse;
    font-family: "Georgia", sans-serif;
    overflow: auto;
    display: block;
}

.results-table-headerrow {
    border: 3px solid black;
    font-size: 1.2rem;
    font-weight: 600;
}

.results-table-id {
    width: 50px;
}

.results-table-name {
    min-width: 150px;
    width: 20%;
}

.results-table-header {
    padding: 10px;
    border: 3px solid black;
}

.results-table-question-short {
    min-width: 100px;
    width: 10%;
    padding: 10px;
    border: 3px solid black;
}

.results-table-question-long {
    min-width: 200px;
    width: 30%;
    padding: 10px;
    border: 3px solid black;
}

.results-table-datarow {
    border: 2px solid black;
}

.results-table-data {
    font-size: 1rem;
    font-weight: 400;
    padding: 10px;
    border: 2px solid black;
}

tr.results-table-datarow:hover {
    background-color: #DDDDDD;
}