{% extends "layout.html" %}

{% block extraFiles %} 

    <script src="{{ url_for('static', filename='scripts/index-script.js') }}"></script>


{% endblock %}

{% block content %}

    <div class="section-container bgimg" style="background-image: url({{ url_for('static', filename='images/happy.jpg') }}); height: 1024px;">
        <div class="bgimg--overlay-se"></div>
        <div class="colourful-title__container">
            <p class="h1 colourful-title">The best survey website</p>
        </div>
        <div class="section" style="height: 874px;">
            <div class="flashy-content">
                <ul class="h2">
                    <li style="margin-bottom: 15px;">Top of the mornin' to ya</li>
                    <li>You saw it here first</li>
                </ul>
            </div>
            <div class="grid-3" id="card-container">
                
            </div>
            <button class="card__prev" onclick="incrementCard(-1)">&#10094;</button>
            <button class="card__next" onclick="incrementCard(1)">&#10095;</button>
        </div>
    </div>

    <div class="section-container">
    <div class="section">
        <div class="slide__container">
            <div class="slide anim-fadeout" style="display: none;">
                <div class="slide__number">hahaha</div>
                <div class="slide__img--overlay"></div>
                <img class="slide__img" src="https://cdn1.matadornetwork.com/blogs/1/2018/02/Taj-Mahal.jpg">
                <div class="slide__desc">Taj Mahal</div>
            </div>
            <div class="slide anim-fadeout" style="display: none;">
                <div class="slide__number"></div>
                <div class="slide__img--overlay"></div>
                <img class="slide__img" src="https://d36tnp772eyphs.cloudfront.net/blogs/1/2018/02/Christ-the-Redeemer.jpg">
                <div class="slide__desc">Christ the Redeemer</div>
            </div>
            <div class="slide anim-fadeout" style="display: none;">
                <div class="slide__number"></div>
                <div class="slide__img--overlay"></div>
                <img class="slide__img" src="https://cdn1.matadornetwork.com/blogs/1/2016/03/petra-jordan9.jpg">
                <div class="slide__desc">Petra</div>
            </div>

            <button class="slide__prev" onclick="incrementSlide(-1)">&#10094;</button>
            <button class="slide__next" onclick="incrementSlide(1)">&#10095;</button>
        </div>
    </div>
    </div>

    <div class="section-container">
    <div class="section" id="index-about">
        <h3>About</h3>
        <p>The FitnessGram Pacer Test is a multistage aerobic capacity test that progressively gets more difficult as it continues. The 20 meter pacer test will begin in 30 seconds. Line up at the start. The running speed starts slowly, but gets faster each minute after you hear this signal. [beep] A single lap should be completed each time you hear this sound. [ding] Remember to run in a straight line, and run as long as possible. The second time you fail to complete a lap before the sound, your test is over. The test will begin on the word start. On your mark, get ready, start.</p>
    </div>
    </div>

    <div class="section-container">
    <div class="section">
    <form action="/survey" method="POST">
        <div id="index-name">
            <h3>Enter your name here:</h3>
            <input autocomplete="off" name="username" placeholder="Name" type="text" id="username-input">
            <button onclick="show_surveys()" type="button">Show Surveys</button>
        </div>

        <div id="index-select-survey">
            <!-- index.html uses JavaScript, index-script.js, to display the list of surveys.-->
        </div>
    </form>
    </div>
    </div>

{% endblock %}