<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="static/styles.css" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='scripts/layout-navbar.js') }}"></script>

        {% block extraFiles %} {% endblock %}

        <title>Survey</title>
    </head>
    <body>
        <div class="header">
            <img src="static/images/icon.png" class="header__icon">
            <div class="header__title">Random Survey</div>
            <ul class="header__navbar">
                <li class="button header__button"><a href="{{ url_for('index') }}">Home</a></li>
                <li class="button header__button"><a href="{{ url_for('loadResults') }}">Surveys</a></li>
                <li class="button header__button"><a href="{{ url_for('loadResults') }}">Results</a></li>
                <li class="button header__button"><a href="{{ url_for('loadResults') }}">Contribute</a></li>
                <li class="button header__button"><a href="{{ url_for('loadResults') }}" style="margin-right: 100px;">Contact Us</a></li>
            </ul>
        </div>
        <div class="page-content">
            {% block content %} {% endblock %}
        </div>
    </body>
</html>