{% extends "layout.html" %}

{% block extraFiles %} <script src="{{ url_for('static', filename='scripts/selection-script.js') }}"></script> {% endblock %}

{% block content %}

    <div class="section-container">
        <div class="section" style="margin-top: 100px";>
            <a href="{{ url_for('loadSurvey', selectedSurvey = 'questions') }}">Test</a>
            <div class="grid-3" id="surveys-container">

                <div style="display: none;" id="noOfSurveys">{{ surveyList|length }}</div>

                {% if surveyList %}
                {% for survey in surveyList %}
                
                <div class="card" id="card-{{ loop.index }}">
                    <img class="card__img" src="/static/images/survey-icon/{{ survey['image-name'] }}">
                    <a class="card__desc" href="{{ url_for('loadSurvey', selectedSurvey = survey['survey-name'] ) }}">
                        <p class="card__survey-title">{{ survey["survey-title"] }}</p>
                        <p class="card__survey-description">{{ survey["survey-description"] }}</p>
                    </a>
                </div>
                
                {% endfor %}
                {% endif %}

                <button class="card__prev" onclick="incrementSurvey(-1)">&#10094;</button>
                <button class="card__next" onclick="incrementSurvey(1)">&#10095;</button>

            </div>
        </div>
    </div>

{% endblock %}