{% extends "layout.html" %}

{% block extraFiles %} 
<script src="{{ url_for('static', filename='scripts/cards.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/selection-script.js') }}"></script>
{% endblock %}

{% block content %}

    <div class="section-container">
        <div class="section" style="margin-top: 100px";>
            <div class="card__container--grid-3" id="card-container-0">

                <div style="display: none;" class="card__noOfCards">{{ surveyList|length }}</div>

                {% if surveyList %}
                {% for surveyKey, surveyData in surveyList.items() %}
                
                <div class="card" id="card-{{ loop.index }}">
                    <img class="card__img" src="/static/images/survey-icon/{{ surveyData['image-name'] }}">
                    <a class="card__desc" href="{{ url_for('loadSurvey', selectedSurvey = surveyKey ) }}">
                        <p class="card__link-title">{{ surveyData["survey-title"] }}</p>
                        <p class="card__link-description">{{ surveyData["short-description"] }}</p>
                    </a>
                </div>
                
                {% endfor %}
                {% endif %}

                <button class="card__prev" onclick="incrementCard(-1, 0)">&#10094;</button>
                <button class="card__next" onclick="incrementCard(1, 0)">&#10095;</button>

            </div>
        </div>
    </div>

{% endblock %}