{% extends "layout.html" %}

{% block extraFiles %} 
<script src="{{ url_for('static', filename='scripts/survey-script.js') }}"></script>
{% endblock %}

{% block content %}

<div class="section-container">
    <div class="section">
        <div class="colourful-title__container">
            <p class="h2 colourful-title" style="display: block;">{{ surveyName }}</p>
        </div>
        <p style="margin: 0px;">{{ surveyDesc }}</p>
    </div>
</div>

<div class="section-container">

    {% if surveyQns %}

    <!-- Note that another way to do form validation is to use the HTML in-built "required" attribute for form inputs. -->

    <form class="section" onsubmit="return highlightUnanswered();" method="post" action="{{ url_for('submitSurvey') }}">
        
        <input type="hidden" name="selectedSurvey" value="{{ selectedSurvey }}">
        <!-- All of this can be done in PHP. 
            $_POST['key'] can be used to get data which was POSTed.
            echo "HTML HERE" inserts lines of HTML, similar to JQuery's .appendTo() function.
            file_get_contents() and json_decode() can read JSON files.
        However, Flask is a HTTP server and cannot parse PHP files. -->

        {% for section in surveyQns %}
            {% set section_loop = loop %}
            <!-- This variable allows us to access the outer loop index from the inner loop -->
        <hr>
        <div class="survey-section" id="s{{loop.index}}">
            <div class="survey-section__title">
                {{ section['section-name'] }}
            </div>
            <div class="survey-section__questions" id="s{{loop.index}}-qns">

                {% for question in section['questions'] %}

                <div class="survey-question-no">Q{{loop.index}}.</div>

                <div class="survey-question" id="s{{section_loop.index}}-q{{loop.index}}">       
                    <div class="survey-question__text">
                        {{ question['question'] }}
                    </div>

                    {% if question['input-type'] == "text" %}

                    <div class="survey-question__answer">
                        <input type="text" class="input--short" name="s{{section_loop.index}}-q{{loop.index}}" placeholder="Answer here">
                    </div>

                    {% elif question['input-type'] == "textarea" %}

                    <div class="survey-question__answer">
                        <textarea class="input--textarea" name="s{{section_loop.index}}-q{{loop.index}}" placeholder="Answer here"></textarea>
                    </div>

                    {% elif question['input-type'] == "options" %}

                    <div class="survey-question__answer input--radio">
                        {% set question_loop = loop %}

                        {% for option in question['options'] %}

                        <label class="radio-option">

                            <input type="radio" id="s{{section_loop.index}}-q{{question_loop.index}}-{{loop.index}}" name="s{{section_loop.index}}-q{{question_loop.index}}" value="{{loop.index}}">
                            <span class="radio-button"></span>
                            {{option}}

                        </label>

                        {% endfor %}
                    </div>

                    {% endif %}
                    
                </div>

                {% endfor %}

            </div>
        </div>

        {% endfor %}

        <hr>

        <div class="survey-section">
            <div class="survey-section__questions">
                <div class="survey-question" style="justify-self: center; position: relative;">
                    <div class="survey-question__text" style="position: relative; left: 10px;">
                        Key in your name:
                    </div>
                    <div class="survey-question__answer" style="position: relative; left: 10px;">
                        <input type="text" class="input--short" name="username" placeholder="Username">
                    </div>
                </div>
            </div>
        </div>

        <div class="survey-submit">
            <button class="survey-submit-button" type="submit">Submit Answers!</button>
        </div>

    </form>

    {% endif %}

</div>

{% endblock %}